body {
	background-image: url("../bgimage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: lightblue;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
	color: white;
	font-family: futura, arial;
	font-size: 48px;
	margin-top: 80px;
	text-align: center;
}

h3 {
	color: white;
	font-family: arial;
	font-size: 16px;
	line-height: 1.4;
	margin: auto;
	max-width: 500px;
	text-align: center;
	font-weight: lighter;
}

p { 
	color: white;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}

.img1 {
	float: left;
	margin: auto;
	margin-top: 80px;
	padding: 10px;
}

.img2 {
	float: left;
	margin: auto;
	margin-top: 80px;
	padding: 10px;
}

.img3 {
	float: left;
	margin: auto;
	margin-top: 80px;
	padding: 10px;
}

.img4 {
	float: left;
	margin: auto;
	margin-top: 80px;
	padding: 10px;
}
 
div {
	margin-left: 200px;
}


.spider {
	text-align: center;
}

.ironman {
	text-align: center;
}

.hulk {
	text-align: center;
}

.blackwidow {
	text-align: center;
}
